{% extends 'header.twig' %}

{% block title %}Prestations{% endblock %}

{% block content %}
<h1>Prestations</h1>
{% for it in prestations %}
    <h2><a href="{{ url_for('prestid', {'id': it.id }) }}">{{ it.libelle }}</a></h2>
    <h4>{{ it.id }}</h4>
    <h4>{{ it.unite }}</h4>
    <h4>{{ it.tarif }}</h4>
{% endfor %}
<h2><a href="{{ url_for('home') }}">Retour à l'acceuil</a></h2>
{% endblock %}
